{
  "openapi": "3.0.3",
  "info": {
    "title": "Sendcloud Public REST API",
    "version": "3.0.0",
    "description": "Complete Sendcloud API v2 specification - merged from official Stoplight documentation bundles",
    "contact": {
      "name": "Sendcloud API Support",
      "url": "https://www.sendcloud.dev",
      "email": "contact@sendcloud.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-source": "https://api.sendcloud.dev/docs/sendcloud-public-api/",
    "x-branch": "v2",
    "x-generated": "2026-01-08T09:40:30Z"
  },
  "servers": [
    {
      "url": "https://account.sendcloud.com",
      "description": "Production"
    },
    {
      "url": "https://panel.sendcloud.sc/api/v2",
      "description": "Sendcloud Production"
    },
    {
      "url": "https://servicepoints.sendcloud.sc/api/v2",
      "description": "Sendcloud Production"
    },
    {
      "url": "https://www.shop_url.com/webhook",
      "description": "User API endpoint"
    }
  ],
  "security": [
    {
      "HTTPBasicAuth": []
    }
  ],
  "paths": {
    "/box/finalize": {
      "post": {
        "summary": "Finalizing a box",
        "tags": [
          "Air Waybill (AWB)"
        ],
        "operationId": "sc-public-v2-scp-post-finalize_box",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "description": "This endpoint allows you to create an Air Waybill for a box containing multiple Deutsche Post International parcels. When you call this endpoint, you finalize the box, then an AWB tracking number is assigned to each parcel and the AWB label is generated. If the parcels included in the AWB are split over multiple boxes or pallets, you can use the `copy_count` parameter to specify how many AWB copies you need.\n\nWhen the request is successful, a `200` code will be returned alongside the `copy_count` requested. After a few minutes, the AWB labels and tracking numbers are assigned to each parcel. You only need to retrieve any single parcel to obtain the AWB label, as the AWB label and tracking numbers are identical for all parcels included in the box.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AwbCopies"
                },
                "examples": {
                  "AWBCopiesQuantity": {
                    "summary": "AWB copies quantity",
                    "value": {
                      "copy_count": 10
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "request": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "CopyLessThanMinimum": {
                    "summary": "Copy count falls short than minimum",
                    "value": {
                      "error": {
                        "code": 400,
                        "request": "api/v2/box/finalize",
                        "message": "copy_count: \"Ensure this value is greater than or equal to 1.\""
                      }
                    }
                  },
                  "CountExceedsMaximum": {
                    "summary": "Copy count exceeds maximum",
                    "value": {
                      "error": {
                        "code": 400,
                        "request": "api/v2/box/finalize",
                        "message": "copy_count: \"Ensure this value is less than or equal to 99.\""
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AwbCopies"
              }
            }
          }
        }
      }
    },
    "/oauth2/token": {
      "post": {
        "x-skip-lint": true,
        "x-skip-lint-reason": "This is an endpoint's design provided by third-party service (Hydra) and doesn't follow our API standards.",
        "description": "Use open source libraries to perform OAuth 2.0 available for any programming language. \nYou can find a list of libraries here https://oauth.net/code/",
        "operationId": "oauth2TokenExchange",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "client_id": {
                    "type": "string",
                    "x-formData-name": "client_id"
                  },
                  "code": {
                    "type": "string",
                    "x-formData-name": "code"
                  },
                  "grant_type": {
                    "required": [
                      "grant_type"
                    ],
                    "type": "string",
                    "x-formData-name": "grant_type"
                  },
                  "redirect_uri": {
                    "type": "string",
                    "x-formData-name": "redirect_uri"
                  },
                  "refresh_token": {
                    "type": "string",
                    "x-formData-name": "refresh_token"
                  }
                },
                "required": [
                  "grant_type"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/oAuth2TokenExchange"
                }
              }
            },
            "description": "oAuth2TokenExchange"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorOAuth2"
                }
              }
            },
            "description": "errorOAuth2"
          }
        },
        "security": [
          {
            "basic": []
          },
          {
            "oauth2": []
          }
        ],
        "summary": "The OAuth 2.0 Token Endpoint",
        "tags": [
          "oAuth2"
        ]
      }
    },
    "/brands": {
      "get": {
        "x-sendcloud-paginated": true,
        "x-sendcloud-paginated-discriminator": "brands",
        "summary": "Retrieve a list of brands",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "description": "Url to retrieve the next page of brands",
                      "type": "string",
                      "nullable": true
                    },
                    "previous": {
                      "description": "Url to retrieve the next page of brands",
                      "type": "string",
                      "nullable": true
                    },
                    "brands": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/brand"
                      }
                    }
                  }
                },
                "examples": {
                  "RetrieveAListOfBrands": {
                    "summary": "Retrieve a list of brands",
                    "value": {
                      "next": null,
                      "previous": null,
                      "brands": [
                        {
                          "id": 1,
                          "name": "Sendcloud B.V",
                          "color": "#112857",
                          "secondary_color": "#112855",
                          "website": "https://www.sendcloud.com",
                          "overlay_logo": {},
                          "screen_logo": {
                            "url": "https://media.sendcloud.sc/brands/1/Sendcloud.png"
                          },
                          "print_logo": {
                            "url": "https://media.sendcloud.sc/brands/1/Sendcloud.png"
                          },
                          "overlay_thumb": {},
                          "screen_thumb": "https://media.sendcloud.sc/brands/1/a05d525e580da030907607d901e10288_thumbnail.png",
                          "print_thumb": "https://media.sendcloud.sc/brands/1/a05d525e580da030907607d901e10288_thumbnail.png",
                          "notify_reply_to_email": "info@sendcloud.com",
                          "domain": "sendcloud-shop",
                          "notify_bcc_email": "info@sendcloud.com",
                          "hide_powered_by": false,
                          "google_analytics_id": "G-1234567890",
                          "features": {
                            "tracking_page": true,
                            "tracking_email": true,
                            "tracking_sms": false,
                            "tracking_whatsapp": false,
                            "returns_portal": true
                          },
                          "customization_settings": {
                            "header": {
                              "faq_url": "https://support.sendcloud.com/hc/en-us",
                              "contact_url": "https://sendcloud.com/contact",
                              "shop_url": "https://sendcloud.com/storefront",
                              "font_color": "#212121",
                              "homepage_url": "https://sendcloud.com",
                              "background_color": "#ffffff"
                            },
                            "footer": {
                              "city": "Eindhoven",
                              "street": "Stadhuisplein",
                              "country": "Netherlands",
                              "font_color": "#212121",
                              "postal_code": "5611 EM",
                              "phone_number": "+310612345678",
                              "social_media": {
                                "twitter": "sendcloud",
                                "facebook": "SendCloudNL",
                                "linkedin": "sendcloud",
                                "instagram": "sendcloud",
                                "pinterest": "sendcloud"
                              },
                              "support_email": "contact@sendcloud.com",
                              "background_color": "#ffffff",
                              "whatsapp_business": "+310612345678"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "sc-public-v2-brands-get-all_user_brands",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "description": "Retrieves a list of all brands and their associated properties.",
        "tags": [
          "Brands"
        ]
      }
    },
    "/brands/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "integer",
            "example": 1,
            "minimum": 1
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The unique id of the user's configured brand"
        }
      ],
      "get": {
        "summary": "Retrieve a brand",
        "operationId": "sc-public-v2-brands-get-user_brand_by_id",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "description": "Retrieves a user's configured brand and its properties, identified by its unique ID",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/brand"
                },
                "examples": {
                  "RetrieveBrand": {
                    "summary": "Retrieve a brand",
                    "value": {
                      "id": 1,
                      "name": "Sendcloud B.V",
                      "color": "#112857",
                      "secondary_color": "#112855",
                      "website": "https://www.sendcloud.com",
                      "overlay_logo": {},
                      "screen_logo": {
                        "url": "https://media.sendcloud.sc/brands/1/Sendcloud.png"
                      },
                      "print_logo": {
                        "url": "https://media.sendcloud.sc/brands/1/Sendcloud.png"
                      },
                      "overlay_thumb": {},
                      "screen_thumb": "https://media.sendcloud.sc/brands/1/a05d525e580da030907607d901e10288_thumbnail.png",
                      "print_thumb": "https://media.sendcloud.sc/brands/1/a05d525e580da030907607d901e10288_thumbnail.png",
                      "notify_reply_to_email": "info@sendcloud.com",
                      "domain": "sendcloud-shop",
                      "notify_bcc_email": "info@sendcloud.com",
                      "hide_powered_by": false,
                      "google_analytics_id": "G-1234567890",
                      "features": {
                        "tracking_page": true,
                        "tracking_email": true,
                        "tracking_sms": false,
                        "tracking_whatsapp": false,
                        "returns_portal": true
                      },
                      "customization_settings": {
                        "header": {
                          "faq_url": "https://support.sendcloud.com/hc/en-us",
                          "shop_url": "https://sendcloud.com/storefront",
                          "font_color": "#212121",
                          "contact_url": "https://sendcloud.com/contact",
                          "homepage_url": "https://sendcloud.com",
                          "background_color": "#ffffff"
                        },
                        "footer": {
                          "city": "Eindhoven",
                          "street": "Stadhuisplein",
                          "country": "Netherlands",
                          "font_color": "#212121",
                          "postal_code": "5611 EM",
                          "phone_number": "+310612345678",
                          "social_media": {
                            "twitter": "sendcloud",
                            "facebook": "SendCloudNL",
                            "linkedin": "sendcloud",
                            "instagram": "sendcloud",
                            "pinterest": "sendcloud"
                          },
                          "support_email": "contact@sendcloud.com",
                          "background_color": "#ffffff"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "HTTP error code",
                          "example": 404
                        },
                        "request": {
                          "type": "string",
                          "description": "Endpoint URL that was requested",
                          "example": "api/v2/brands/184"
                        },
                        "message": {
                          "type": "string",
                          "description": "A human readable error message",
                          "example": "No Brand matches the given query."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "NotFound": {
                    "summary": "Not Found",
                    "value": {
                      "error": {
                        "code": 404,
                        "request": "api/v2/brands/184",
                        "message": "No Brand matches the given query."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Brands"
        ]
      }
    },
    "/contracts": {
      "get": {
        "summary": "Retrieve a list of contracts",
        "tags": [
          "Contracts"
        ],
        "x-sendcloud-paginated": true,
        "x-sendcloud-paginated-discriminator": "contracts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "string",
                      "nullable": true,
                      "description": "Url to retrieve the next page of contracts."
                    },
                    "previous": {
                      "type": "string",
                      "nullable": true,
                      "description": "Url to retrieve the previous page of contracts."
                    },
                    "contracts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contract"
                      }
                    }
                  },
                  "required": [
                    "contracts"
                  ]
                },
                "examples": {
                  "RetrieveContracts": {
                    "summary": "Retrieve a list of contracts",
                    "value": {
                      "next": null,
                      "previous": null,
                      "contracts": [
                        {
                          "id": 60,
                          "carrier": {
                            "code": "lettresuivie",
                            "name": "Lettre Suivie"
                          },
                          "client_id": "sendcloud-1",
                          "is_active": true,
                          "country": "FR",
                          "is_default": true
                        },
                        {
                          "id": 61,
                          "carrier": {
                            "code": "poste_italiane",
                            "name": "Poste Italiane"
                          },
                          "client_id": "sendcloud-1",
                          "is_active": true,
                          "country": "IT",
                          "is_default": true
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "sc-public-v2-scp-get-all_contracts",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "description": "This endpoint will retrieve information about all of the available contracts you have in your Sendcloud\naccount. It will also return the `contract_id` of your contracts, which you can use to retrieve information\nabout a specific contract.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "carrier",
            "description": "The carrier you want to filter for, for instance: postnl. You can find available carriers in your Sendcloud account settings.",
            "required": false
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "is_active",
            "description": "Filter contracts based on the status."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "client_id",
            "description": "Filter direct contracts based on the client id."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "name",
            "description": "Filter direct contracts based on the contract's name."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "country",
            "description": "Filter contracts based on the country of the contract, it should be in the ISO 3166-1 alpha-2 format.",
            "example": "NL"
          }
        ]
      }
    },
    "/contracts/{id}": {
      "get": {
        "summary": "Retrieve a contract",
        "tags": [
          "Contracts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contract"
                },
                "examples": {
                  "RetrieveContract": {
                    "summary": "Retrieve a contract",
                    "value": {
                      "id": 60,
                      "carrier": {
                        "code": "lettresuivie",
                        "name": "Lettre Suivie"
                      },
                      "client_id": "sendcloud-1",
                      "is_active": true,
                      "is_default": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Contract not found"
          }
        },
        "operationId": "sc-public-v2-scp-get-specific_contract",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "description": "Include the `contract_ID` for a specific direct contract as a query parameter to retrieve information for this\nsingle contract.",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "path",
            "name": "id",
            "description": "The id of the contract you want to retrieve.",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "carrier",
            "description": "The carrier you want to filter for, for instance: postnl. You can find available carriers in your Sendcloud account settings.",
            "required": false
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "is_active",
            "description": "Filter contracts based on the status."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "client_id",
            "description": "Filter direct contracts based on the client id."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "name",
            "description": "Filter direct contracts based on the contract's name."
          }
        ]
      }
    },
    "/integrations": {
      "get": {
        "summary": "Retrieve a list of integrations",
        "operationId": "sc-public-v2-orders-get-retrieve_a_list_of_integrations",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "description": "# Retrieving your list of integrations\n\nRetrieve information about all shop integrations currently connected to your Sendcloud account. The information returned includes the shop name and URL, the date, and the time of the last order fetch. The response indicates whether service point delivery is enabled for this integration and for which carriers.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "ordering",
            "description": "Specifies the field used to order the resulting response"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Integration"
                  }
                },
                "examples": {
                  "RetrieveIntegrationList": {
                    "summary": "Retrieve a list of integrations",
                    "value": [
                      {
                        "id": 123,
                        "shop_name": "Integration #1",
                        "shop_url": "https://example.com",
                        "system": "api / amazon / magento",
                        "failing_since": "2019-08-24T14:15:22Z",
                        "last_fetch": "2019-08-24T14:15:22Z",
                        "last_updated_at": "2019-08-24T14:15:22Z",
                        "service_point_enabled": true,
                        "service_point_carriers": [
                          "ups"
                        ],
                        "webhook_active": true,
                        "webhook_url": "https://example.com"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Integrations"
        ]
      }
    },
    "/integrations/{id}": {
      "get": {
        "summary": "Retrieve an integration",
        "operationId": "sc-public-v2-orders-get-retrieve_an_integration",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "description": "# Retrieving your integration\n\nAllows you to to retrieve information about a specific integration by specifying the integration `id`. The information returned includes the shop name and URL, the date and the time of the last order fetch. The response will also indicate whether service point delivery is enabled for this integration, and for which carriers.",
        "tags": [
          "Integrations"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration"
                },
                "examples": {
                  "RetrieveIntegration": {
                    "summary": "Retrieve an integration",
                    "value": {
                      "id": 123,
                      "shop_name": "Integration #1",
                      "shop_url": "https://example.com",
                      "system": "api / amazon / magento",
                      "failing_since": "2019-08-24T14:15:22Z",
                      "last_fetch": "2019-08-24T14:15:22Z",
                      "last_updated_at": "2019-08-24T14:15:22Z",
                      "service_point_enabled": true,
                      "service_point_carriers": [
                        "ups"
                      ],
                      "webhook_active": true,
                      "webhook_url": "https://example.com"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404-Integrations"
          }
        }
      },
      "put": {
        "summary": "Update an integration",
        "operationId": "sc-public-v2-orders-put-update_an_integration",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "description": "# Updating an integration's settings\n\nYou can update the settings for the integration by making a PUT request to our integration endpoint and including your integration `id` as the path parameter. Using this endpoint, you can change the webshop name and URL, edit the list of carriers you want to enable for service point delivery and enable or disable service point delivery by setting `service_point_enabled` to `true` or `false`.\n\n>You can obtain an integration `id` via the `Retrieve your list of integrations` endpoint.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationUpdate"
                },
                "examples": {
                  "UpdateIntegration": {
                    "summary": "Update an integration",
                    "value": {
                      "shop_name": "Integration #1",
                      "shop_url": "https://example.com",
                      "last_updated_at": "2019-08-24T14:15:22Z",
                      "service_point_enabled": true,
                      "service_point_carriers": [
                        "ups"
                      ],
                      "webhook_active": true,
                      "webhook_url": "https://example.com"
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/400-Integration"
          },
          "404": {
            "$ref": "#/components/responses/404-Integrations"
          }
        },
        "tags": [
          "Integrations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationUpdate"
              },
              "examples": {
                "UpdateIntegration": {
                  "summary": "Update an Integration",
                  "value": {
                    "shop_name": "Integration #1",
                    "shop_url": "https://example.com",
                    "service_point_enabled": true,
                    "service_point_carriers": [
                      "ups"
                    ],
                    "webhook_active": true,
                    "webhook_url": "https://example.com"
                  }
                }
              }
            }
          },
          "description": ""
        }
      },
      "patch": {
        "operationId": "sc-public-v2-orders-patch-partial_update_an_integration",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "description": "# Updating an integration's settings\n\nYou can update the settings for the integration by making a PATCH request to our integration endpoint and including your integration `id` as the path parameter. Using this endpoint, you can change the webshop name and URL, edit the list of carriers you want to enable for service point delivery, and enable/disable service point delivery by setting `service_point_enabled` to `true` or `false`.\n\n>You can obtain an integration `id` via the `Retrieve your list of integrations` endpoint.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationUpdate"
                },
                "examples": {
                  "UpdateIntegration": {
                    "summary": "Update an Integration",
                    "value": {
                      "shop_name": "Integration #1",
                      "shop_url": "https://example.com",
                      "last_updated_at": "2019-08-24T14:15:22Z",
                      "service_point_enabled": true,
                      "service_point_carriers": [
                        "ups"
                      ],
                      "webhook_active": true,
                      "webhook_url": "https://example.com"
                    }
                  },
                  "partial_update": {
                    "summary": "Partial update of an Integration",
                    "value": {
                      "service_point_enabled": true,
                      "service_point_carriers": [
                        "ups"
                      ]
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/400-Integration"
          },
          "404": {
            "$ref": "#/components/responses/404-Integrations"
          }
        },
        "tags": [
          "Integrations"
        ],
        "summary": "Update an integration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationUpdate"
              },
              "examples": {
                "UpdateIntegration": {
                  "summary": "Update an integration",
                  "value": {
                    "shop_name": "Integration #1",
                    "shop_url": "https://example.com",
                    "last_updated_at": "2019-08-24T14:15:22Z",
                    "service_point_enabled": true,
                    "service_point_carriers": [
                      "ups"
                    ],
                    "webhook_active": true,
                    "webhook_url": "https://example.com"
                  }
                },
                "partial_update": {
                  "summary": "Partial update of an Integration",
                  "value": {
                    "service_point_enabled": true,
                    "service_point_carriers": [
                      "ups"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an integration",
        "operationId": "sc-public-v2-orders-delete-delete_an_integration",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "description": "# Deleting your integration\n\nDelete a webshop integration from the Sendcloud system.",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "$ref": "#/components/responses/404-Integrations"
          }
        },
        "tags": [
          "Integrations"
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "An id of the integration"
        }
      ]
    },
    "/integrations/{id}/shipments": {
      "get": {
        "operationId": "sc-public-v2-orders-get-retrieve_a_list_of_shipments",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "x-sendcloud-paginated": true,
        "x-sendcloud-paginated-discriminator": "results",
        "description": "# Retrieving shipments from an integration\n\nVia this endpoint, you can retrieve a list of orders that were imported from a specific webshop integration. Note that these orders **are not** affected by <a href=\"https://support.sendcloud.com/hc/en-us/articles/360025143571-Automate-your-workflow-using-Sendcloud-Shipping-Rules\">**shipping rules**</a> at the time of retrieval, unless enabled explicitly. This endpoint is paginated, meaning that you can navigate through the `results` via the URLs provided within the `next` and `previous` fields.",
        "parameters": [
          {
            "$ref": "#/components/parameters/cursor-parameter"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Displays orders from the given `start_date`, including the set date. It defaults to one year ago.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "Displays orders up to the given `end_date`, including the set date. It defaults to the current date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "external_order_ids",
            "in": "query",
            "required": false,
            "description": "Filters results to shipments where their `external_order_id` matches one of the user provided ones.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "external_shipment_ids",
            "in": "query",
            "required": false,
            "description": "Filters results to shipments where their `external_shipments_id` matches one of the user provided ones.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "shipping_rules",
            "in": "query",
            "required": false,
            "description": "Enable shipping rules when retrieving orders. This will have an impact on the `allowed_shipping_methods`.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "order_number",
            "in": "query",
            "required": false,
            "description": "Filters results to shipments on `order_number`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sender_address",
            "in": "query",
            "required": false,
            "description": "Allows to specify a sender address id to display proper `allowed_shipping_methods`.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "description": "Cursor based pagination url to go forward. By following this URL you can get a next batch of shipments"
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "description": "Cursor based pagination url to go backwards. By following this URL you can get a previous batch of shipments"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ShipmentBlobOrder"
                      }
                    }
                  }
                },
                "examples": {
                  "RetrieveShipmentList": {
                    "summary": "Retrieve a list of shipments",
                    "value": {
                      "next": "https://example.com",
                      "previous": "https://example.com",
                      "results": [
                        {
                          "address": "Lansdown Glade",
                          "address_2": "string",
                          "allowed_shipping_methods": [
                            0
                          ],
                          "barcode": "string",
                          "city": "Oss",
                          "company_name": "string",
                          "country": "AW",
                          "created_at": "2019-08-24T14:15:22Z",
                          "currency": "EUR",
                          "customs_invoice_nr": "120",
                          "customs_shipment_type": 0,
                          "email": "user@example.com",
                          "external_order_id": "555413",
                          "external_shipment_id": "777413",
                          "house_number": "15",
                          "integration": 0,
                          "name": "John Doe",
                          "order_number": "OXSDFGHTD-12",
                          "order_status": {
                            "id": "fulfilled",
                            "message": "Fulfilled"
                          },
                          "parcel_items": [
                            {
                              "description": "Very orange color",
                              "hs_code": "01013000",
                              "origin_country": "AW",
                              "product_id": "1458734634",
                              "properties": {
                                "size": "small",
                                "colour": "red"
                              },
                              "quantity": 2,
                              "sku": "WW-DR-GR-XS-001",
                              "value": "3.5",
                              "weight": "1",
                              "mid_code": "NLOZR92MEL",
                              "material_content": "100% Cotton",
                              "intended_use": "Personal use"
                            }
                          ],
                          "payment_status": {
                            "id": "paid",
                            "message": "Paid"
                          },
                          "postal_code": "5341",
                          "sender_address": 12345,
                          "shipment_uuid": "6b436cb2-65a4-482c-9d25-38be7868ff00",
                          "shipping_method": 12345,
                          "shipping_method_checkout_name": "string",
                          "telephone": "string",
                          "to_post_number": "string",
                          "to_service_point": 0,
                          "to_state": "string",
                          "total_order_value": "string",
                          "updated_at": "2019-08-24T14:15:22Z",
                          "weight": "string",
                          "checkout_payload": {
                            "sender_address_id": 0,
                            "shipping_product": {
                              "code": "postnl:standard",
                              "name": "PostNL Standard",
                              "selected_functionalities": {
                                "age_check": 18,
                                "last_mile": "home_delivery",
                                "first_mile": "pickup_dropoff",
                                "multicollo": true,
                                "form_factor": "parcel",
                                "service_area": "domestic",
                                "weekend_delivery": "saturday",
                                "delivery_deadline": "best_effort",
                                "direct_contract_only": false
                              }
                            },
                            "delivery_method_type": "string",
                            "delivery_method_data": {
                              "delivery_date": "2019-08-24T14:15:22Z",
                              "formatted_delivery_date": "string",
                              "parcel_handover_date": "2019-08-24T14:15:22Z"
                            }
                          },
                          "width": "string",
                          "height": "string",
                          "length": "string",
                          "customs_details": {
                            "discount_granted": "3.99",
                            "insurance_costs": "9.99",
                            "freight_costs": "5.99",
                            "other_costs": "2.99",
                            "tax_numbers": {
                              "sender": [
                                {
                                  "tax_number": {
                                    "name": "VAT",
                                    "country": "NL",
                                    "value": "NL987654321B02"
                                  }
                                }
                              ],
                              "receiver": [
                                {
                                  "tax_number": {
                                    "name": "VAT",
                                    "country": "DE",
                                    "value": "DE123456789B03"
                                  }
                                }
                              ],
                              "importer_of_records": [
                                {
                                  "tax_number": {
                                    "name": "VAT",
                                    "country": "NL",
                                    "value": "NL975318642B01"
                                  }
                                }
                              ]
                            }
                          },
                          "shipment_created_at": "2019-09-25T14:15:22Z",
                          "shipment_updated_at": "2019-09-25T14:15:22Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404-Shipments"
          }
        },
        "summary": "Retrieve a list of shipments",
        "tags": [
          "Shipments"
        ]
      },
      "post": {
        "operationId": "sc-public-v2-orders-post-create_a_list_of_shipments",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "description": "# Inserting shipments into an integration\n\n<!-- theme: info -->\n> This end-point is only available for official Sendcloud partners.\n\nThis endpoint allows you to insert shipments (or 'orders') into an API integration from your shop system, and have them appear in your Sendcloud account. Imported orders will appear in the Sendcloud panel under the **Incoming order overview** with the status Ready to process. This allows you to easily generate parcels and create shipping labels via the API or directly from the Sendcloud panel. The validation for this endpoint is more relaxed, therefore we recommend this method over the **Create a parcel** endpoint for third-party integrators.\n\nThis is an **UPSERT** endpoint which attempts to be idempotent given specific fields to ensure that orders are not duplicated. If there's an existing match in our database for specific fields (`external_order_id` and `external_shipment_id`), then the shipment will be updated. The system will only update orders that have had their `updated_at` (ISO 8601 DateTime) timestamp changed.\n\nThe `external_shipment_id` field is used to split orders across multiple shipments, however, this field is not supported by all shop systems. If your shop system supports the distribution of product items within an order across multiple shipments, you can use the shipment data to create multiple entries. If your shop does not support this feature, you can set the `external_shipment_id` value to `null`.\n\nBatches are limited to 100 orders at once. This endpoint should accept most values in any of the available fields, but in the case of erroneous data, an error message will be returned directly. Your requests should almost always succeed unless the field structure is not correct.",
        "responses": {
          "200": {
            "description": "List with references to created shipments, or the errors that occurred while creating the shipment.\nWhen a shipment can't be created, the response will contain an entry for the object with the errors.\nThis object will have a path to each field containing errors, listing the error(s) it contains.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/ShipmentCreateUpdateLog"
                      },
                      {
                        "$ref": "#/components/schemas/ShipmentErrorLog"
                      }
                    ]
                  }
                },
                "examples": {
                  "CreateUpdateShipments": {
                    "summary": "Create or update a list of shipments",
                    "value": [
                      {
                        "external_order_id": "1175584",
                        "external_shipment_id": "777413",
                        "shipment_uuid": "6b436cb2-65a4-482c-9d25-38be7868ff00",
                        "status": "created"
                      },
                      {
                        "error": {
                          "checkout_payload": {
                            "delivery_method_data": {
                              "delivery_date": [
                                "This field is required."
                              ]
                            }
                          }
                        },
                        "external_order_id": "1184635",
                        "external_shipment_id": "",
                        "status": "error"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "$ref": "#/components/responses/404-Shipments"
          }
        },
        "summary": "Create or update a list of shipments",
        "tags": [
          "Shipments"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ShipmentBlobOrderCreate"
                }
              },
              "examples": {
                "CreateUpdateShipments": {
                  "summary": "Create or update a list of shipments",
                  "value": [
                    {
                      "address": "Lansdown Glade",
                      "address_2": "string",
                      "city": "Oss",
                      "company_name": "string",
                      "country": "AW",
                      "created_at": "2019-08-24T14:15:22Z",
                      "currency": "EUR",
                      "customs_invoice_nr": "120",
                      "customs_shipment_type": 0,
                      "email": "user@example.com",
                      "external_order_id": "555413",
                      "external_shipment_id": "777413",
                      "house_number": "15",
                      "name": "John Doe",
                      "order_number": "OXSDFGHTD-12",
                      "order_status": {
                        "id": "fulfilled",
                        "message": "Fulfilled"
                      },
                      "parcel_items": [
                        {
                          "description": "Very orange color",
                          "hs_code": "01013000",
                          "origin_country": "AW",
                          "product_id": "1458734634",
                          "properties": {
                            "size": "small",
                            "colour": "red"
                          },
                          "quantity": 2,
                          "sku": "WW-DR-GR-XS-001",
                          "value": "3.5",
                          "weight": "1",
                          "mid_code": "NLOZR92MEL",
                          "material_content": "100% Cotton",
                          "intended_use": "Personal use"
                        }
                      ],
                      "payment_status": {
                        "id": "paid",
                        "message": "Paid"
                      },
                      "postal_code": "5341",
                      "shipping_method": 12345,
                      "shipping_method_checkout_name": "string",
                      "telephone": "string",
                      "to_post_number": "string",
                      "to_service_point": 0,
                      "to_state": "string",
                      "total_order_value": "string",
                      "updated_at": "2019-08-24T14:15:22Z",
                      "weight": "string",
                      "checkout_payload": {
                        "sender_address_id": 0,
                        "shipping_product": {
                          "code": "postnl:standard",
                          "name": "PostNL Standard",
                          "selected_functionalities": {
                            "age_check": 18,
                            "last_mile": "home_delivery",
                            "first_mile": "pickup_dropoff",
                            "multicollo": true,
                            "form_factor": "parcel",
                            "service_area": "domestic",
                            "weekend_delivery": "saturday",
                            "delivery_deadline": "best_effort",
                            "direct_contract_only": false
                          }
                        },
                        "delivery_method_type": "string",
                        "delivery_method_data": {
                          "delivery_date": "2019-08-24T14:15:22Z",
                          "formatted_delivery_date": "string",
                          "parcel_handover_date": "2019-08-24T14:15:22Z"
                        }
                      },
                      "width": "string",
                      "height": "string",
                      "length": "string",
                      "customs_details": {
                        "discount_granted": "3.99",
                        "insurance_costs": "9.99",
                        "freight_costs": "5.99",
                        "other_costs": "2.99",
                        "tax_numbers": {
                          "sender": [
                            {
                              "tax_number": {
                                "name": "VAT",
                                "country": "NL",
                                "value": "NL987654321B02"
                              }
                            }
                          ],
                          "receiver": [
                            {
                              "tax_number": {
                                "name": "VAT",
                                "country": "DE",
                                "value": "DE123456789B03"
                              }
                            }
                          ],
                          "importer_of_records": [
                            {
                              "tax_number": {
                                "name": "VAT",
                                "country": "NL",
                                "value": "NL975318642B01"
                              }
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "description": ""
        }
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          },
          "description": "An id of an integration to which the shipments belong"
        }
      ]
    },
    "/integrations/{id}/shipments/delete": {
      "post": {
        "tags": [
          "Shipments"
        ],
        "summary": "Delete a shipment",
        "operationId": "sc-public-v2-orders-post-delete_a_shipment",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "description": "# Deleting orders from an integration\n\nIf an order is canceled or deleted in your shop system, delete it from the Sendcloud database via this endpoint. The `order_status` and `payment_status` fields we retrieve from integrations are not mapped in our system, meaning that orders will not be automatically updated or deleted if the values for these fields change after an order is placed.\n\nYou can delete an order by providing either a `shipment_uuid`, or a combination of the `external_order_id` and `external_shipment_id` properties.",
        "requestBody": {
          "description": "You must provide either a shipment_uuid or the combination of external_order_id and external_shipment_id to this endpoint.",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "shipment_uuid": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Autogenerated Sendcloud's internal ID"
                      }
                    },
                    "required": [
                      "shipment_uuid"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "external_order_id": {
                        "type": "string",
                        "description": "External order ID assigned by shop system"
                      },
                      "external_shipment_id": {
                        "type": "string",
                        "description": "External shipment ID assigned by shop system"
                      }
                    },
                    "required": [
                      "external_order_id",
                      "external_shipment_id"
                    ]
                  }
                ]
              },
              "examples": {
                "DeleteByUUID": {
                  "summary": "Delete a shipment (via UUID)",
                  "value": {
                    "shipment_uuid": "39874b59-2a68-4a3d-8e00-aeb9e0540d00"
                  }
                },
                "DeleteByOrderIdShipmentId": {
                  "summary": "Delete a shipment (via `order_id` and `shipment_id`)",
                  "value": {
                    "external_order_id": "123457",
                    "external_shipment_id": "S00002"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "request": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "RequiredFieldMissing": {
                    "summary": "Missing required fields",
                    "value": {
                      "error": {
                        "code": 400,
                        "request": "api/v2/integrations/1234/shipments/delete",
                        "message": "Missing shipment_uuid or the pair external_order_id and external_shipment_id"
                      }
                    }
                  },
                  "invalid_uuid": {
                    "summary": "Invalid UUID",
                    "value": {
                      "error": {
                        "code": 400,
                        "request": "api/v2/integrations/1234/shipments/delete",
                        "message": "Must be a valid UUID."
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404-Shipments"
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "An id of an integration to which the shipments belong"
        }
      ]
    },
    "/integrations/logs": {
      "get": {
        "summary": "Retrieve all integration exceptions logs",
        "operationId": "sc-public-v2-orders-get-retrieve_integrations_logs",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "x-sendcloud-paginated": true,
        "x-sendcloud-paginated-discriminator": "results",
        "description": "# Retrieving all integration exception logs\n\nAllows you to retrieve integration exception logs that are created automatically if integrations have problems with API requests to the shop systems. For examples, if some resource cannot be found, or API credentials are not valid anymore.\nLog record could contain information about request and response, status code and code exception, and be used as a reference to identify issues between Sendcloud and shops APIs.",
        "tags": [
          "Integrations"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "description": "Cursor based pagination url to go forward. By following this URL you can get a next batch of logs"
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "description": "Cursor based pagination url to go backwards. By following this URL you can get a previous batch of logs"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IntegrationLog"
                      }
                    }
                  }
                },
                "examples": {
                  "RetrieveIntegrationLogs": {
                    "summary": "Retrieve a list of integration logs",
                    "value": {
                      "next": "https://example.com",
                      "previous": "https://example.com",
                      "results": [
                        {
                          "id": 123,
                          "base_url": "https://example.com",
                          "full_url": "https://example.com/order-note.json",
                          "method": "POST",
                          "response_code": 495,
                          "response": {
                            "headers": {
                              "Cache-Control": "max-age=3600",
                              "Content-Type": "text/html; charset=utf-8",
                              "Connection": "keep-alive"
                            },
                            "body": "<!doctype html>\n<html>\n <head>\n <title>SSL Certificate Error</title>\n </head>\n </html>\n"
                          },
                          "request": {
                            "headers": {
                              "Cache-Control": "max-age=3600",
                              "Content-Type": "text/html; charset=utf-8",
                              "Connection": "keep-alive"
                            },
                            "payload": {
                              "order_note": {
                                "note": "Success"
                              }
                            }
                          },
                          "created_at": "2023-03-01T02:02:00+01:00",
                          "exception_type": "requests.exceptions.SSLError",
                          "exception": "An SSL error occurred",
                          "protected": false
                        },
                        {
                          "id": 124,
                          "integration_id": 123,
                          "user_id": 123,
                          "base_url": "https://example.com",
                          "full_url": "https://example.com/order-note.json",
                          "method": "POST",
                          "response_code": 404,
                          "response": {},
                          "request": {
                            "headers": {
                              "Cache-Control": "max-age=3600",
                              "Content-Type": "text/html; charset=utf-8",
                              "Connection": "keep-alive"
                            },
                            "payload": {}
                          },
                          "created_at": "2023-03-01T02:02:00+01:00",
                          "exception": "PageNotFound",
                          "protected": false
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/integrations/{id}/logs": {
      "get": {
        "summary": "Retrieve integration exceptions logs",
        "operationId": "sc-public-v2-orders-get-retrieve_integration_logs",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "x-sendcloud-paginated": true,
        "x-sendcloud-paginated-discriminator": "results",
        "description": "# Retrieving integration exception logs\n\nAllows you to retrieve integration exception logs that are created automatically if integrations have problems with API requests to the shop systems. For examples, if some resource cannot be found, or API credentials are not valid anymore.\nLog record could contain information about request and response, status code and code exception, and be used as a reference to identify issues between Sendcloud and shops APIs.\nThis endpoint could be used to get exception logs of specific integration.",
        "tags": [
          "Integrations"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "description": "Cursor based pagination url to go forward. By following this URL you can get a next batch of logs"
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "description": "Cursor based pagination url to go backwards. By following this URL you can get a previous batch of logs"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IntegrationLog"
                      }
                    }
                  }
                },
                "examples": {
                  "RetrieveIntegrationLogs": {
                    "summary": "Retrieve a list of integration logs",
                    "value": {
                      "next": "https://example.com",
                      "previous": "https://example.com",
                      "results": [
                        {
                          "id": 123,
                          "base_url": "https://example.com",
                          "full_url": "https://example.com/order-note.json",
                          "method": "POST",
                          "response_code": 495,
                          "response": {
                            "headers": {
                              "Cache-Control": "max-age=3600",
                              "Content-Type": "text/html; charset=utf-8",
                              "Connection": "keep-alive"
                            },
                            "body": "<!doctype html>\n<html>\n <head>\n <title>SSL Certificate Error</title>\n </head>\n </html>\n"
                          },
                          "request": {
                            "headers": {
                              "Cache-Control": "max-age=3600",
                              "Content-Type": "text/html; charset=utf-8",
                              "Connection": "keep-alive"
                            },
                            "payload": {
                              "order_note": {
                                "note": "Success"
                              }
                            }
                          },
                          "created_at": "2023-03-01T02:02:00+01:00",
                          "exception_type": "requests.exceptions.SSLError",
                          "exception": "An SSL error occurred",
                          "protected": false
                        },
                        {
                          "id": 124,
                          "integration_id": 123,
                          "user_id": 123,
                          "base_url": "https://example.com",
                          "full_url": "https://example.com/order-note.json",
                          "method": "POST",
                          "response_code": 404,
                          "response": {},
                          "request": {
                            "headers": {
                              "Cache-Control": "max-age=3600",
                              "Content-Type": "text/html; charset=utf-8",
                              "Connection": "keep-alive"
                            },
                            "payload": {}
                          },
                          "created_at": "2023-03-01T02:02:00+01:00",
                          "exception": "PageNotFound",
                          "protected": false
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404-Integrations"
          }
        }
      },
      "post": {
        "summary": "Create integration exceptions logs",
        "operationId": "sc-public-v2-orders-post-create_integration_logs",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "description": "# Creating integration log records\n\nYou can create exeption logs with this endpoint and logs will appear in connection issue log screen of user's integration.",
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationLog"
                },
                "examples": {
                  "CreateIntegrationLog": {
                    "summary": "Create an integration log",
                    "value": {
                      "id": 123,
                      "integration_id": 123,
                      "user_id": 123,
                      "base_url": "https://example.com",
                      "full_url": "https://example.com/order-note.json",
                      "method": "POST",
                      "response_code": 495,
                      "response": {
                        "headers": {
                          "Cache-Control": "max-age=3600",
                          "Content-Type": "text/html; charset=utf-8",
                          "Connection": "keep-alive"
                        },
                        "body": "<!doctype html>\n<html>\n <head>\n <title>SSL Certificate Error</title>\n </head>\n </html>\n"
                      },
                      "request": {
                        "headers": {
                          "Cache-Control": "max-age=3600",
                          "Content-Type": "text/html; charset=utf-8",
                          "Connection": "keep-alive"
                        },
                        "payload": {
                          "order_note": {
                            "note": "Success"
                          }
                        }
                      },
                      "created_at": "2023-03-01T02:02:00+01:00",
                      "exception_type": "requests.exceptions.SSLError",
                      "exception": "An SSL error occurred",
                      "protected": false
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/400-IntegrationLog"
          },
          "404": {
            "$ref": "#/components/responses/404-Integrations"
          }
        },
        "tags": [
          "Integrations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationLog"
              },
              "examples": {
                "CreateIntegrationLog": {
                  "summary": "Create an integration log",
                  "value": {
                    "integration_id": 123,
                    "user_id": 123,
                    "base_url": "https://example.com",
                    "full_url": "https://example.com/order-note.json",
                    "method": "POST",
                    "response_code": 495,
                    "response": {
                      "headers": {
                        "Cache-Control": "max-age=3600",
                        "Content-Type": "text/html; charset=utf-8",
                        "Connection": "keep-alive"
                      },
                      "body": "<!doctype html>\n<html>\n <head>\n <title>SSL Certificate Error</title>\n </head>\n </html>\n"
                    },
                    "request": {
                      "headers": {
                        "Cache-Control": "max-age=3600",
                        "Content-Type": "text/html; charset=utf-8",
                        "Connection": "keep-alive"
                      },
                      "payload": {
                        "order_note": {
                          "note": "Success"
                        }
                      }
                    },
                    "created_at": "2023-03-01T02:02:00+01:00",
                    "exception_type": "requests.exceptions.SSLError",
                    "exception": "An SSL error occurred"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "An id of an integration to which the shipments belong"
        }
      ]
    },
    "/user/invoices": {
      "get": {
        "summary": "Retrieve all invoices that have been issued to your account",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoices": {
                      "type": "array",
                      "minItems": 0,
                      "uniqueItems": true,
                      "items": {
                        "$ref": "#/components/schemas/Invoice"
                      }
                    }
                  }
                },
                "examples": {
                  "RetrieveInvoices": {
                    "summary": "Retrieve a list of invoices",
                    "value": {
                      "invoices": [
                        {
                          "id": 1638405,
                          "ref": "EU-CENTRAL-1-0-22-NL0063503",
                          "type": "initial_payment",
                          "price_incl": 0.02,
                          "price_excl": 0.02,
                          "isPayed": true,
                          "date": "08-06-2022 11:39:36",
                          "items": "https://panel.sendcloud.sc/api/v2/user/invoices/1638405"
                        }
                      ]
                    }
                  },
                  "empty_invoice_list": {
                    "summary": "No invoices response",
                    "value": {
                      "invoices": []
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "sc-public-v2-scp-get-all_user_invoices",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "description": "With this endpoint, you can retrieve all of the invoices and the associated invoice `id` which have been issued to your account to date.",
        "tags": [
          "Invoices"
        ]
      }
    },
    "/user/invoices/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "integer",
            "minimum": 1
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "The id of the invoice you want to retrieve"
        }
      ],
      "get": {
        "summary": "Retrieve a specific invoice",
        "operationId": "sc-public-v2-scp-get-invoice_by_id",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoice": {
                      "$ref": "#/components/schemas/InvoiceDetail"
                    }
                  }
                },
                "examples": {
                  "RetrieveInvoice": {
                    "summary": "Retrieve a specific invoice",
                    "value": {
                      "invoice": {
                        "id": 1,
                        "ref": "641335",
                        "type": "periodic",
                        "price_incl": 0,
                        "price_excl": 0,
                        "isPayed": true,
                        "date": "05-10-2020 02:12:01",
                        "items": [
                          {
                            "id": 33493679,
                            "name": "PostNL Standard 0-23kg"
                          },
                          {
                            "id": 33493681,
                            "name": "Insurance"
                          },
                          {
                            "id": 33495701,
                            "name": "Credit requested for label"
                          },
                          {
                            "id": 33495702,
                            "name": "Insurance refund"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Invoice not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoicesError"
                },
                "examples": {
                  "NotFound": {
                    "summary": "Invoice Not Found",
                    "value": {
                      "error": {
                        "code": 404,
                        "request": "api/v2/user/invoices/12312312312",
                        "message": "No Invoice matches the given query."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Retrieve a single invoice issued to your Sendcloud account. You need to provide the invoice `id` to fetch details of a specific invoice. You can\nretrieve an invoice `id` via the [**Retrieve all invoices**](https://api.sendcloud.dev/docs/sendcloud-public-api/invoices/operations/list-user-invoices) endpoint.\n",
        "tags": [
          "Invoices"
        ],
        "x-internal": false
      }
    },
    "/labels/{parcel_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path-parcel-id"
        }
      ],
      "get": {
        "operationId": "sc-public-v2-scp-get-label_by_parcel_id",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "summary": "Retrieve a Label",
        "description": "Retrieve a shipping label for a specific parcel in PDF format.\nYou can lookup the `id` of a parcel via the `/parcels` endpoint.",
        "tags": [
          "Labels"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelSingleResponse"
                },
                "examples": {
                  "RetrieveLabel": {
                    "summary": "Retrieve Label",
                    "value": {
                      "label": {
                        "normal_printer": [
                          "https://panel.sendcloud.sc/api/v2/label/normal_printer/1234?start_from=0",
                          "https://panel.sendcloud.sc/api/v2/label/normal_printer/1234?start_from=1",
                          "https://panel.sendcloud.sc/api/v2/label/normal_printer/1234?start_from=2",
                          "https://panel.sendcloud.sc/api/v2/label/normal_printer/1234?start_from=3"
                        ],
                        "label_printer": "https://panel.sendcloud.sc/api/v2/label/label_printer/1234"
                      },
                      "customs_declaration": {}
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/error_404_not_found"
          }
        }
      }
    },
    "/labels": {
      "post": {
        "operationId": "sc-public-v2-scp-post-label_by_parcel_ids",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "summary": "Bulk PDF label printing",
        "description": "Request multiple shipping labels for an array of parcels at the same time.",
        "tags": [
          "Labels"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "label": {
                    "type": "object",
                    "properties": {
                      "parcels": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "example": [
                          1,
                          2,
                          3
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelMultipleResponse"
                },
                "examples": {
                  "BulkPDFLabels": {
                    "summary": "Bulk PDF label printing",
                    "value": {
                      "label": {
                        "normal_printer": [
                          "https://panel.sendcloud.sc/api/v2/label/normal_printer?ids=1,2,3?start_from=0",
                          "https://panel.sendcloud.sc/api/v2/label/normal_printer?ids=1,2,3?start_from=1",
                          "https://panel.sendcloud.sc/api/v2/label/normal_printer?ids=1,2,3?start_from=2",
                          "https://panel.sendcloud.sc/api/v2/label/normal_printer?ids=1,2,3?start_from=3"
                        ],
                        "label_printer": "https://panel.sendcloud.sc/api/v2/label/label_printer?ids=1,2,3"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/error_404_not_found"
          }
        }
      }
    },
    "/labels/normal_printer/{parcel_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path-parcel-id"
        },
        {
          "$ref": "#/components/parameters/query-start-from"
        }
      ],
      "get": {
        "operationId": "sc-public-v2-scp-get-label_document_normal_printer",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "summary": "Retrieve a PDF label",
        "description": "Retrieve a shipping label for a specific parcel in PDF format for a normal printer.",
        "tags": [
          "Label Download"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/label_pdf_document_response"
          },
          "400": {
            "$ref": "#/components/responses/error_400_bad_request"
          },
          "404": {
            "$ref": "#/components/responses/error_404_not_found"
          }
        }
      }
    },
    "/labels/normal_printer": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path-parcel-ids"
        },
        {
          "$ref": "#/components/parameters/query-start-from"
        }
      ],
      "get": {
        "operationId": "sc-public-v2-scp-get-label_document_multiple_normal_printer",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "summary": "Retrieve multiple PDF labels",
        "description": "Retrieve PDF label documents suitable for normal printers for multiple different parcels at the same time.",
        "tags": [
          "Label Download"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/label_pdf_document_response"
          },
          "400": {
            "$ref": "#/components/responses/error_400_bad_request"
          },
          "404": {
            "$ref": "#/components/responses/error_404_not_found"
          }
        }
      }
    },
    "/customs_declaration/normal_printer/{parcel_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path-parcel-id"
        }
      ],
      "get": {
        "operationId": "sc-public-v2-scp-get-customs_document_normal_printer",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "summary": "Retrieve a customs declaration PDF",
        "description": "Retrieve the customs documents associated with a label in PDF format for a normal printer.",
        "tags": [
          "Customs Documents Download"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/customs_pdf_document_response"
          },
          "400": {
            "$ref": "#/components/responses/error_400_bad_request"
          },
          "404": {
            "$ref": "#/components/responses/error_404_not_found"
          }
        }
      }
    },
    "/customs_declaration/normal_printer": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path-parcel-ids"
        },
        {
          "$ref": "#/components/parameters/query-start-from"
        }
      ],
      "get": {
        "operationId": "sc-public-v2-scp-get-customs_document_multiple_normal_printer",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "summary": "Retrieve multiple customs declaration PDF",
        "description": "<!-- theme: warning -->\n> This endpoint is deprecated as of Mon, 08 Jan 2024 00:00:00 GMT. We will sunset this enpoint Mon, 08 Jul 2024 00:00:00 GMT. It is recommended to use the [**Retrieve Parcel Documents**](https://api.sendcloud.dev/docs/sendcloud-public-api/parcel-documents%2Foperations%2Fget-a-parcel-document) endpoint instead.\n\nRetrieve PDF customs documents suitable for normal printers for multiple different parcels at the same time.",
        "tags": [
          "Customs Documents Download"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/customs_pdf_document_response"
          },
          "400": {
            "$ref": "#/components/responses/error_400_bad_request"
          },
          "404": {
            "$ref": "#/components/responses/error_404_not_found"
          }
        },
        "deprecated": true
      }
    },
    "/labels/label_printer/{parcel_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path-parcel-id"
        }
      ],
      "get": {
        "operationId": "sc-public-v2-scp-get-label_document_label_printer",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "summary": "Retrieve a PDF label for a specific label printer",
        "description": "Retrieve a shipping label for a specific parcel in PDF format for a label printer.",
        "tags": [
          "Label Download"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/label_pdf_document_response"
          },
          "400": {
            "$ref": "#/components/responses/error_400_bad_request"
          },
          "404": {
            "$ref": "#/components/responses/error_404_not_found"
          }
        }
      }
    },
    "/labels/label_printer": {
      "parameters": [
        {
          "$ref": "#/components/parameters/path-parcel-ids"
        }
      ],
      "get": {
        "operationId": "sc-public-v2-scp-get-label_document_multiple_label_printer",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "summary": "Retrieve a PDF label for a label printer",
        "description": "Retrieve PDF label documents suitable for label printers for multiple different parcels at the same time.",
        "tags": [
          "Label Download"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/label_pdf_document_response"
          },
          "400": {
            "$ref": "#/components/responses/error_400_bad_request"
          },
          "404": {
            "$ref": "#/components/responses/error_404_not_found"
          }
        }
      }
    },
    "/parcels/{id}/documents/{type}": {
      "get": {
        "summary": "Retrieve Parcel Documents",
        "tags": [
          "Parcel Documents"
        ],
        "responses": {
          "200": {
            "description": "Requested parcel document file",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/zpl": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Document type requested is not available for the parcel",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "HTTP error code",
                          "example": 404
                        },
                        "request": {
                          "type": "string",
                          "description": "Endpoint URL that was requested",
                          "example": "api/v2/parcels/1/documents/commercial-invoice"
                        },
                        "message": {
                          "type": "string",
                          "description": "A human readable error message",
                          "example": "No Parcel matches the given query."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "NotFound": {
                    "summary": "Parcel Document Not Found",
                    "value": {
                      "error": {
                        "code": 404,
                        "request": "api/v2/parcels/1/documents/commercial-invoice",
                        "message": "No Parcel matches the given query."
                      }
                    }
                  },
                  "document_type_not_found": {
                    "summary": "Document Type Not Found",
                    "value": {
                      "error": {
                        "code": 404,
                        "request": "api/v2/parcels/1/documents/not-existing-document-type",
                        "message": "Not found."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "sc-public-v2-scp-get-retrieve_parcel_documents",
        "security": [
          {
            "HTTPBasicAuth": []
          },
          {
            "OAuth2ClientCreds": [
              "api"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/dpi"
          },
          {
            "$ref": "#/components/parameters/rendering_format"
          },
          {
            "$ref": "#/components/parameters/raw"
          }
        ],
[...]
